/* Estilos para telas menores */

/* Celular */
@media screen and (max-width: 480px) {
  .apresentacao {
    flex-direction: column;
  }

  .left img {
    margin-bottom: 25px;
    margin-right: 60px;
  }

  .right {
    margin-right: 60px;
  }

  .conteinerSobreMim {
    flex-direction: column;
  }

  .conteinerCertificado {
    padding: 60px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }

  .conteinerCertificado img {
    padding: 3px;
  }

  .conteinerSobreMim .texto {
    /* margin-top: 25px; */
    text-align: justify;

  }

  .conteinerServicos {
    flex-direction: column;
    align-items: center;
  }

  .itemServicos {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #servicos h3 {
    font-size: 16px;
  }


  .displayContato {
    flex-direction: column;

  }


  input,
  textarea {
    width: 100%;

  }

  #dados {
    width: 80%;
    padding: 8px;
  }


  .displayContato .maps {
    padding: 8px;

  }

  #mensagem {
    width: 80%;
    margin-left: 0px;
    padding: 8px;
  }

}

/* tablet */
@media (min-width: 481px) and (max-width: 768px) {

  .apresentacao {

    flex-direction: column;
    margin-right: 100px;
    width: auto;

  }

  .left img {
    width: 80%;
    margin-bottom: 25px;

  }


  .right {
    text-align: center;

  }

  .conteinerSobreMim {
    flex-direction: column;
    justify-content: center;

  }

  #sobreMim h3 {
    text-align: center;
  }

  .conteinerCertificado {
    width: auto;
    padding: 30px;
  }

  .conteinerServicos {
    flex-wrap: wrap;
    display: flex;
  }

  .conteinerServicos h2 {
    font-size: 22px;
  }

  .itemServicos {
    flex-grow: 1;
    flex-basis: 200;

  }

  .conteinerServicos h2 {
    font-size: 18px;
  }

  .displayContato {
    flex-direction: column;

  }

  input,
  textarea {
    width: 100%;

  }

  #dados {
    width: 80%;
    padding: 8px;
  }


  .displayContato .maps {
    padding: 8px;

  }

  #mensagem {
    width: 80%;
    margin-left: 0px;
    padding: 8px;
  }

  #servicos h3 {
    font-size: 20px;
  }


}