/*

margin corresponde á margem externa em relação no elemento padding correponde à "margem interna em relção ao elemento backgraud 
corresponde ao fundo, no qual é possível colocar uma cor sólida única ou em grediente

box-sizing: content-box não é uma boa prática, pois ao aumentarmos uma imagem, por exemplo, ou qualquer outro elemento, o que
ocorre é que CAIXA  DE CONTEÚDO ( em que o elemento está) aumenta e não ele em si, causando possível discotorções. O ideal é utilizar
box-sizing: border-box

Utilizar o site: https://cssgradient.io/

*/

* {
    margin: 0px;
    /* Atribuir uma margin a cada item */
    padding: 0px;
    box-sizing: border-box;
    
    
    

}

#menu {
    font-family: 'Roboto Mono', monospace;
    /* Aplicar uma cor à fonte */
    font-size: 20px;
    
}
    

#menu a {
    font-family: 'Roboto Mono', monospace;
    /* Aplicar uma fonte */
    color: white;
    /* Aumentar o tamanho da fonte  */
    text-decoration: none;
    /* Tirar o sumblinhado do link  */
    flex-direction: row;
    /* Alinhar um ao lado do outro */
    /* margin: 20px; */
    /*Atribuir uma margin a cada item*/
    text-transform: uppercase;
    font-weight: bold;
}



/* Ao passar o mouse mudar a cor*/
#menu a:hover {
    color: black;
    

}


header {
    background: rgb(7,0,70);
    background: linear-gradient(0deg, rgba(7,0,70,1) 0%, rgba(70,8,138,1) 100%);
    
    
    
}


.apresentacao {
    display: flex;
    padding-bottom: 20x;
    padding: 25px;
}



h1,
span {
    font-size: 22px;
    line-height: 180%;
    /* Define a altura da linha em relação à próxima */
    color: white;

}

.right {
    flex: 5;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 100px;
    
}

.left {
    flex: 5;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-top: 25px;
}

.btn {
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
}

.btnContact {
    font-family: 'Roboto Mono', monospace;
    background:#ae88e4;
    color: black;
    margin-top: 30px;
}

.btnContact:hover {
    background: #654599;
    color:black;
    transform: scale(1.05);
}

.conteinerServicos {
    background: rgb(7,0,70);
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: -8px;
}

.itemServicos {
    border: 1px solid #88aeea;
    border-radius: 25px;
    margin: 15px;
    padding: 30px 15px;
    text-align: center;
    width: 30%;
    box-shadow: 10px 10px 15px -5px #140014, -10px -10px 15px -5px #140014;
    transition: 0, 5s;


}

.conteinerServicos h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: white;
}



.itemServicos:hover{
    border: 1px solid #88aeea;
    background: #1900aa;
    cursor: pointer;
    transform: scale(1.08);
}

html {
    scroll-behavior: smooth;
}

h3 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background: rgb(7,0,70);
    color: white;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: -8px;
}

.conteinerSobreMim {
    background: rgb(7,0,70);
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding: 70px;
}

.texto {
    color: white;
    flex: 5;
    text-align: justify;

}

.conteinerCertificado {
    flex: 5;
    display: flex;
    padding-left: 150px;
    
}

.Ite {
    flex: 5;
}

.Ceby {
    flex: 5;
}

#sobreMim h3 {
    text-align: center;
    padding: 50px;
    font-size: 25px;
    font-weight: bold;
}


.SocialMedia p {
    font-size: 18px;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 2px;
}


#contato {
    background: rgb(7,0,70);
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    
}

.ConteinerContato h2 {
    font-family: 'roboto mono', monospace; 
    font-size: 20px;
}

form {
    font-size: 16px;
    max-width: 400px;
}

input {
   
    width: 250px;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 25px;
    border: 1px solid;
    
    
}

textarea{
    width: 300px;
    resize: none;
    
}

.displayContato {
    display: flex;
}

#mensagem {
    margin-left: 50px;
    color: white;
}
#mensagem label {
    font-size: 16px;
}


form h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#mensagem input {
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'roboto mono', monospace;
}

#mensagem input:hover {
    transform: scale(1.05);
    
}

.maps {
    padding-left: 250px;
}

.navColor {
    justify-content: center;
    background: rgba(70,8,138,1);
    
    
}

.container-fluid {
    background: rgba(70,8,138,1);
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 10px;
}

.navbar-toggler{
    border: 1px solid transparent;
    margin: 7px;
    
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%280, 0, 0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}









