/*

margin corresponde á margem externa em relação no elemento padding correponde à "margem interna em relção ao elemento backgraud 
corresponde ao fundo, no qual é possível colocar uma cor sólida única ou em grediente

box-sizing: content-box não é uma boa prática, pois ao aumentarmos uma imagem, por exemplo, ou qualquer outro elemento, o que
ocorre é que CAIXA  DE CONTEÚDO ( em que o elemento está) aumenta e não ele em si, causando possível discotorções. O ideal é utilizar
box-sizing: border-box

Utilizar o site: https://cssgradient.io/

*/

* {
    margin: 0px;
    /* Atribuir uma margin a cada item */
    padding: 0px;
    box-sizing: border-box;
    
    
    

}

#menu {
    font-family: 'Roboto Mono', monospace;
    /* Aplicar uma cor à fonte */
    font-size: 20px;
    
}
    

#menu a {
    font-family: 'Roboto Mono', monospace;
    /* Aplicar uma fonte */
    color: white;
    /* Aumentar o tamanho da fonte  */
    text-decoration: none;
    /* Tirar o sumblinhado do link  */
    flex-direction: row;
    /* Alinhar um ao lado do outro */
    /* margin: 20px; */
    /*Atribuir uma margin a cada item*/
    text-transform: uppercase;
}



/* Ao passar o mouse mudar a cor*/
#menu a:hover {
    color: rgb(45, 2, 235);
    

}


header {
    background: rgba(25, 2, 41, 1);

}


.apresentacao {
    display: flex;
    padding-bottom: 20x;
    padding: 25px;
}



h1,
span {
    font-size: 22px;
    line-height: 180%;
    /* Define a altura da linha em relação à próxima */
    color: white;

}

.right {
    flex: 5;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 100px;
    
}

.left {
    flex: 5;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-top: 25px;
}

.btn {
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
}

.btnContact {
    font-family: 'Roboto Mono', monospace;
    background: rgb(111, 81, 221);
    color: black;
    margin-top: 30px;
}

.btnContact:hover {
    background: rgb(111, 11, 204);
    color: rgb(10, 0, 95);
}

.conteinerServicos {
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: -8px;
}

.itemServicos1,
.itemServicos3,
.itemServicos5,
.itemServicos7 {
    border: 1px solid rgba(0, 31, 255, 1);
    border-radius: 25px;
    margin: 15px;
    padding: 30px 15px;
    text-align: center;
    width: 30%;
    box-shadow: 6px 6px 10px -1px rgb(149, 0, 255), -6px -6px 10px -1px rgba(0, 21, 255, 1);
    transition: 0, 5s;


}

.itemServicos2,
.itemServicos4,
.itemServicos6,
.itemServicos8 {
    border: 1px solid rgba(0, 31, 255, 1);
    border-radius: 25px;
    margin: 15px;
    padding: 30px 15px;
    text-align: center;
    width: 30%;
    box-shadow: 6px 6px 10px -1px rgb(149, 0, 255), -6px -6px 10px -1px rgba(0, 21, 255, 1);
    transition: 0, 5s;
}

.conteinerServicos h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: white;
}



.itemServicos1:hover,
.itemServicos3:hover,
.itemServicos5:hover,
.itemServicos7:hover {
    border: 1px solid rgba(0, 8, 70, 1);
    background: rgba(0, 8, 70, 1);
    cursor: pointer;
    transform: scale(1.08);
}

.itemServicos2:hover,
.itemServicos4:hover,
.itemServicos6:hover,
.itemServicos8:hover {
    border: 1px solid rgba(0, 8, 70, 1);
    background: rgba(0, 8, 70, 1);
    cursor: pointer;
    transform: scale(1.08);
}

html {
    scroll-behavior: smooth;
}

h3 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background: rgba(0, 0, 0, 1);
    color: white;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: -8px;
}

.conteinerSobreMim {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(25, 2, 41, 1) 30%);
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding: 70px;
}

.texto {
    color: white;
    flex: 5;
    padding-right: 100px;
    padding-left: 100px;
    line-height: 30px;
    text-align: justify;

}

.Certificado {
    flex: 5;
    display: flex;
}

.Ite {
    flex: 1;
    
}

.Ceby {
    flex: 1;
 

}

#sobreMim h3 {
    text-align: center;
    padding: 50px;
    font-size: 25px;
    background: rgba(25, 2, 41, 1);
    font-weight: bold;
}


.SocialMedia p {
    font-size: 18px;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 2px;
}


#contato {
    background: rgba(0, 0, 0, 1);
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    
}

.ConteinerContato h2 {
    font-family: 'roboto mono', monospace; 
    font-size: 20px;
}

form {
    font-size: 16px;
    max-width: 400px;
}

input {
   
    width: 250px;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 25px;
    border: 1px solid;
    
    
}

textarea{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
    
}

.displayContato {
    display: flex;
}

#mensagem {
    margin-left: 50px;
    color: white;
    margin-bottom: 10px;
}
#mensagem label {
    font-size: 16px;
}


form h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#mensagem input {
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'roboto mono', monospace;
}

#mensagem input:hover {
    transform: scale(1.05);
    
}

.maps {
    padding-left: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navColor {
    justify-content: center;
    background: rgba(25, 2, 41, 1);
    
}

.container-fluid {
    background: rgba(25, 2, 41, 1);
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 10px;
}

.navbar-toggler{
    border: 1px solid transparent;
    margin: 7px;
    
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%280, 0, 0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

.containerRodape i {
    font-size: 30px;
}

@media  screen and (max-width: 480px) {
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .left img {
        margin-bottom: 30px;
    }
    
    .right {
        text-align: center;
    }
}






